div , p {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border: 3px solid black;
}

#divOne {
    background: linear-gradient(to Right top, blue, green, red)
}

#divTwo {
    background: linear-gradient(110deg, Purple 75%, Yellow);
}

p {
    background: linear-gradient(180deg, white, rgba(0, 0, 0, 0.5));
}

#divThree {
    background: radial-gradient(circle 75px,aqua, pink);
}

#divFour {
    background: repeating-radial-gradient(circle ,black, white 10px);
}

#divFour:hover {
    background: repeating-radial-gradient(circle, white, black 10px);
}