body {
    background-color: rgb(98, 14, 131);
}

@media screen and (width >= 1300px) {
    header {
        background-color: rgb(128, 247, 191);
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            color: blueviolet;
        }
    }

    #menu {
        background-color: rgb(128, 247, 191);
        grid-column: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: solid 3px black;
        border-radius: 20px;
        max-height: min-content;
        padding: 20px;
        margin: 20px;

        input {
            color: white;
            background-color: blueviolet;
        }
    }

    footer {
        background-color: rgb(128, 247, 191);
        display: flex;
        justify-content: space-around;

        input {
            margin: 30px;
            padding: 10px;
            color: white;
            background-color: blueviolet;
        }
    }

    main {
        display: grid;
        grid-template-columns: 10% 1fr 20%;
    }

    #gallery {
        grid-column: 3;
        border: solid 3px black;
        border-radius: 20px;
        background-color: rgb(128, 247, 191);
        padding: 20px;
        margin: 20px;

        img {
            width: 100%;
        }
    }


    #articles {
        grid-column: 2;

        article {
            padding: 20px;
            background-color: rgb(128, 247, 191);
            border: solid 3px black;
            border-radius: 20px;
            display: grid;
            grid-template-rows: 10% 1fr;
            margin: 20px;
            align-items: center;

            h2 {
                grid-row: 1;
            }

            img,
            p {
                margin: 5px;
                padding: 5px;
                grid-row: 2;
            }
        }

        p {
            background-color: rgb(206, 241, 166);
        }
    }
}


/* Low Desktop */

@media (width >= 1080px) and (width <= 1299px) {
    header {
        background-color: rgb(128, 247, 191);
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            color: red;
        }
    }

    #menu {
        background-color: rgb(128, 247, 191);
        grid-column: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: solid 3px black;
        border-radius: 20px;
        max-height: min-content;
        padding: 20px;
        margin: 20px;
        input {
            color: white;
            background-color: blueviolet;
        }
    }

    footer {
        background-color: rgb(128, 247, 191);
        display: flex;
        justify-content: space-around;
        input {
            margin: 30px;
            padding: 10px;
            color: white;
            background-color: blueviolet;
        }
    }

    main {
        display: grid;
        grid-template-columns: 10% 1fr 20%;
    }

    #gallery {
        grid-column: 3;
        border: solid 3px black;
        border-radius: 20px;
        background-color: rgb(128, 247, 191);
        padding: 20px;
        margin: 20px;
        img {
            width: 100%;
        }
    }


    #articles {
        grid-column: 2;
        article {
            padding: 20px;
            background-color: rgb(128, 247, 191);
            border: solid 3px black;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            margin: 20px;
            align-items: center;

            h2 {
                grid-row: 1;
            }
            img, p {
                margin: 5px;
                padding: 5px;
                grid-row: 2;
            }
            p {
            background-color: rgb(206, 241, 166);
            }
            img {
                max-width: fit-content;
            }
        }
        
    }
}


@media (width <= 1079px) {
    header {
        background-color: rgb(128, 247, 191);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        img {
            width: 100%;
        }
        h1 {
            color: blueviolet;
        }
    }

    #menu {
        background-color: rgb(128, 247, 191);
        grid-column: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border: solid 3px black;
        border-radius: 20px;
        max-height: min-content;
        padding: 20px;
        margin: 20px;

        input {
            color: white;
            background-color: blueviolet;
            margin: 5px;
        }
    }

    footer {
        background-color: rgb(128, 247, 191);
        display: flex;
        justify-content: space-around;

        input {
            margin: 30px;
            padding: 10px;
            color: white;
            background-color: blueviolet;
        }
    }

    main {
        display: flex;
        flex-direction: column;
    }

    #gallery {
        grid-column: 3;
        border: solid 3px black;
        border-radius: 20px;
        background-color: rgb(128, 247, 191);
        padding: 20px;
        margin: 20px;

        img {
            width: 100%;
        }
    }


    #articles {
        grid-column: 2;

        article {
            padding: 20px;
            background-color: rgb(128, 247, 191);
            border: solid 3px black;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            margin: 20px;
            align-items: center;

            h2 {
                grid-row: 1;
            }

            img,
            p {
                margin: 5px;
                padding: 5px;
                grid-row: 2;
            }
        }

        p {
            background-color: rgb(206, 241, 166);
        }
    }
}