body {
    background-color: blueviolet;
    padding: 0;
    margin: 0;
}

p {
    border: solid 2px green;
    background-color: lightgray;
}

#first {
    height: 100px;
    padding: 20px;
    margin: 0;
}

#second {
    width: 50%;
    padding: 1.2em;
    margin: 20px 5px 20px 5px;
}

#third {
    height: 200px;
    width: 200px;
    padding: -30px;
    margin: auto;
}