body {
    display:grid;
    grid-template-columns: 75% 1fr ;
    grid-template-rows: 100px 1fr 50px;
}

h1 {
    grid-column: 1 / span 2;
    text-align: center;
}

#main {
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    border: solid 2px rgb(128, 190, 240);
    border-radius: 20px;
    margin: 10px;
}

.white {
    grid-column:1 /span 2;
    margin: 10px;
    padding: 10px;
    padding-right: 0;
}

.grey {
    background-color: lightgray;
    grid-column: 2 /span 3;
    margin: 10px;
    padding: 10px;
}

#pOne {
    grid-row: 1;
}

#pTwo {
    grid-row: 2;
}

#pThree {
    grid-row: 3;
}

#pFour {
    grid-row: 4;
}

#pFive {
    grid-row: 5;
}

#pSix {
    grid-row: 6;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section div {
    border: solid 2px rgb(128, 190, 240);
    border-radius: 20px;
    padding: 10px;
}

li {
    list-style: none;
}

footer {
    grid-row: 3;
    display: grid;
    grid-template-columns: 90% 1fr 1fr;
    margin: 5px;
}

footer label {
    justify-self: center;
    align-self: center;
    margin: 5px;
}

#message {
    border-radius: 10px;
}

ul {
    padding-left: 20px;
}